 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .step-forms {
     border: 1px solid rgb(208, 194, 194) ;
     padding: 50px 20px 20px 20px;
     width: 600px;
     margin-top: 20px;
     margin-bottom: 20px;
     border-radius: 6px;
 }

 .step-forms input {
     padding: 5px;
 }